@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: Pinkunicorn;
  src: url("../public/assets/fonts/Pinky Unicorn.ttf");
}
body {
  font-family: "Pinkunicorn", sans-serif;
  background-image: url("../public//assets/images/webp/body-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.font-comic {
  font-family: "Comic Neue", sans-serif;
}

.footer-icons svg{
height: 46px !important;
width: 46px !important;
}
